header .title {
	max-height: var(--titleHeight);
	display: flex;
	justify-content: space-between;
	width: 100%;
}

header {
	z-index: 10;
	position: sticky;
	top: calc(-1 * var(--titleHeight));
	width: 100%;
	border-bottom: solid orange 2px;
	background-color: var(--background-color);
}

/* The nav bar */
.nav-parent
{
	display:flex;
	align-items: flex-end;
	height: var(--navSize);
	margin-top: 40px;
    margin-bottom: -12px;
}

.navigation {
	list-style-position: outside;
	list-style-type: none;
	width: 100%;
	padding-left: 20px;
}
.navigation li {
	display: inline;
}
.navigation button {
	font-size: 15px;
	background-color: #B8B8B8;
	border:none;
	height: var(--navSize);
	padding: 0 20px;
	margin: 0 0px 0 -5px;
}