header .title {
	max-height: var(--titleHeight);
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.head {
	z-index: 10;
    margin-bottom: 20px;
	border-bottom: solid orange 2px;
	background-color: #191c1f !important;
}

.nav-item, .btn {
	transition: ease-in-out 200ms;
	transition-property: color,background-color,border;
}
.nav-item {
	margin-left: 20px;
}

.nav-item > .btn {
	border:0px;
	border-bottom: solid white 1px;
	border-radius: 0px;
	width:100%;
	background-color: transparent !important;
}

.nav-item:hover > .btn, .nav-item:focus > .btn {
	border-bottom-color: #808fdb;
	color: #808fdb;
}

.nav-item:hover > .btn, .nav-item:focus > .btn {
	background-color: transparent !important;
}

@media(max-width: 991.2px) {
	.nav-item {
		margin-left: 0;
		display:flex;
		justify-content: center;
		width: 100%;
		border-radius: 10px;
	}
	.nav-item > .btn {
		margin-top: 20px;
		border-bottom: solid white 2px;
		border-radius: 0px;
		width: 75%;
	}

	.nav-item:hover, .nav-item:focus {
		background-color: #0a0b0c;
	}
}

/* The nav bar */
/*.nav-parent
{
	display:flex;
	align-items: flex-end;
	height: var(--navSize);
	margin-top: 40px;
    margin-bottom: -12px;
}

.navigation {
	list-style-position: outside;
	list-style-type: none;
	width: 100%;
	padding-left: 20px;
}
.navigation li {
	display: inline;
}
.navigation button {
	background-color: #B8B8B8;
	border:none;
	height: var(--navSize);
	padding: 0 20px;
	margin: 0 0px 0 -5px;
}*/