dl {
    margin-bottom: 100px;
    border: hsla(208, 40%, 46%, 1) solid 1.5px;
    padding: 20px 50px 25px 50px;
}

article.secondary dl hr:first-child {
    display: none !important;
}

hr {
    border-color: hsla(208, 20%, 46%, 1)
}

.nav.toc-nav li ul {
    padding-left: 20px;
}